.register-form{
    color:blue;
    top:50px;
    right: 50px;
    font-size: 15px;
    
}

.input{
    /* box-sizing: border-box; */
    width: 50%;
    height: 10px;
    
}

.field{
    color: blue;
}